---
/**
 * Embla carousel library installed from npm through ../scripts/embla-carousel.js
 */
---

<div class="embla">
  <div class="embla__viewport">
    <div class="embla__container">
      <div class="embla__slide">Slide 1</div>
      <div class="embla__slide">Slide 2</div>
      <div class="embla__slide">Slide 3</div>
    </div>
  </div>

  <button class="embla__prev">Scroll to prev</button>
  <button class="embla__next">Scroll to next</button>
</div>

<style>
  .embla {
    --slide-size: 100%;
    --slide-size-md-up: 50%; /* Mobile (min-width: 768px) */
    --slide-spacing: 10px;
    --slide-spacing-md-up: 20px; /* Mobile (min-width: 768px) */
  }
  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  @media (min-width: 768px) {
    .embla__container {
      margin-left: calc(var(--slide-spacing-md-up) * -1); /* Renders -20px */
    }

    .embla__slide {
      flex: 0 0 var(--slide-size-md-up);
      .embla__container {
        margin-left: calc(var(--slide-spacing-md-up) * -1); /* Renders -20px */
      }
    }
  }

  /* Variable widths */

  /* .embla__slide:nth-child(1) {
    flex: 0 0 60%;
  }

  .embla__slide:nth-child(2) {
    flex: 0 0 40%;
  }

  .embla__slide:nth-child(3) {
    flex: 0 0 80%;
  }

  .embla__slide:nth-child(4) {
    flex: 0 0 25%;
  }

  .embla__slide:nth-child(5) {
    flex: 0 0 70%;
  } */
</style>

<script>
  import '../scripts/embla-carousel.js';
</script>
