---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="embla__slide" role="group" aria-roledescription="slide">
  <Image
    src={src}
    alt={alt}
    class="embla__img"
    widths={[400, 800, 1200]}
    sizes="(max-width: 768px) 100vw, 50vw"
  />
</div>
