---
/**
 * Embla carousel library installed from npm through ../scripts/embla-carousel.js
 * * Acts as a container for CarouselPicSlide components.
 */

import '../styles/carousels.css';
---

<div class="embla" aria-roledescription="carousel" aria-label="Gallery">
  <div class="embla__viewport">
    <div class="embla__container">
      <slot />
    </div>
  </div>

  <div class="embla__controls">
    <div class="embla__nav-btns-container">
      <button class="embla__prev" aria-label="Previous slide">&#706;</button>
      <button class="embla__next" aria-label="Next slide">&#707;</button>
    </div>

    <div
      class="embla__dots"
      role="tablist"
      aria-label="Select slide to display"
    >
    </div>
    <template class="embla-dot-template">
      <button
        class="embla__dot"
        role="tab"
        aria-selected="false"
        aria-label="Go to slide {{INDEX}}"
        tabindex="-1"
      >
      </button>
    </template>
  </div>
</div>

<style>
  .embla {
    /* Format sizes for specific carousel or leave fallback from src/styles/carousels.css */
    --slide-size: 50%;
    --slide-size-mobile: 100%; /* Mobile (max-width: 768px) */
  }
</style>

<script>
  import '../scripts/embla-carousel.js';
</script>

<!-- Example of use:

---
import CarouselPics from '../components/CarouselPics.astro';
import image1 from '../assets/hero-1.jpg';
import image2 from '../assets/hero-2.jpg';

const gallery = [
  { src: image1, alt: "Description of first image" },
  { src: image2, alt: "Description of second image" },
];
---

<CarouselPics images={gallery} />
-->
