---
import 'modern-normalize/modern-normalize.css';
import '../styles/global.css';
import Head from '../components/Head.astro';

const {
  lang = 'pl',
  // Set title & description
  title,
  description,
  // Remeber to upload ogp-image.jpg into public/
  ogImgUrl = '/ogp-image.jpg',
} = Astro.props;
---

<html lang={lang}>
  <Head title={title} description={description} ogImgUrl={ogImgUrl} />

  <body transition:animate="fade">
    <header></header>

    <main>
      <slot />
    </main>

    <footer></footer>

    <!-- Delete below imports if not using specific mechanism -->
    <script>
      // Requires a '.theme-toggle' trigger in your HTML
      import '../scripts/theme-toggle.js';

      // Requires '.animate-once' or '.animate-constant' in HTML
      // Requires '.show' state with transform rules in global.css
      import '../scripts/intersection-observer.js';
    </script>
  </body>
</html>
