---
import 'modern-normalize/modern-normalize.css';
import '../styles/global.css';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

const {
  lang = 'pl',
  // Set title & description
  title,
  description,
  // Remeber to upload ogp-image.jpg into public/
  ogImgUrl = '/ogp-image.jpg',
} = Astro.props;
---

<html lang={lang}>
  <Head title={title} description={description} ogImgUrl={ogImgUrl} />

  <body>
    <Header transition:persist />

    <main transition:name="main" transition:animate="fade">
      <slot />
    </main>

    <footer transition:persist></footer>

    <!-- Delete below imports if not using specific mechanism -->
    <script>
      // Updates current link / page indicator in nav
      import '../scripts/nav-current.js';

      // Requires a '.theme-toggle' trigger in your HTML
      import '../scripts/theme-toggle.js';

      // Requires '.animate-once' or '.animate-constant' in HTML
      // Requires '.show' state with transform rules in global.css
      import '../scripts/intersection-observer.js';

      // Toggles header visibility on scroll (requires .header-hidden in CSS)
      import '../scripts/header-visible-onscroll.js';

      // Toggles menu depending on viewport width (768px breakpoint)
      import '../scripts/menu-mobile.js';
    </script>
  </body>
</html>
