---
import 'modern-normalize/modern-normalize.css';
import '../styles/global.css';
import Head from './Head.astro';

const {
  lang = 'pl',
  // Set title & description
  title,
  description,
  // Remeber to upload ogp-image.jpg into public/
  ogImgUrl = '/ogp-image.jpg',
} = Astro.props;
---

<html lang={lang}>
  <Head title={title} description={description} ogImgUrl={ogImgUrl} />

  <body>
    <header></header>

    <main>
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
